/*Stage 1 - start quiz screen*/

.card{
    width: 50%; 
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px; 
}

.card-title-st1{
    text-align: center;
}

.btn-st1{
    display: block;
    margin: 0 auto;
}

/*Stage 2 - questions screen */

.card-title-st2{
    text-align: left; 
}

.btn-st2{
    margin: 5px; 
    text-align: left;
}

/*Stage 3 - enter high score screen*/

.card-title-st3{
    text-align: center; 
}

.card-text-st3{
    text-align: center; 
}

.initialInput-st3{
    margin-left: auto; 
}

.submitBtn-st3{
    margin-left: 5px;
    margin-right: auto; 
}


/*Stage 4 display high score screen*/

.card-title-st4{
    text-align: center;
}

.getBack-st4{
    margin: 5px; 
}

.clearBtn-st4{
    margin:5px; 
}